.container
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-signin
      %h2.form-signin-heading Please sign in
      %label.sr-only{for: "inputEmail"} Email address
      = f.email_field :email, autofocus: "", placeholder: "Email address", required: "", class: "form-control", id: "inputEmail"
      %label.sr-only{for: "inputPassword"} Password
      = f.password_field :password, autofocus: "", placeholder: "Password", required: "", class: "form-control", id: "inputPassword"
      .checkbox
        %label
          %input{type: "checkbox", value: "remember-me"}/
          Remember me
      = f.submit "Sign in", class: "btn btn-lg btn-primary btn-block"
    .text-center
      %p
        Not a member?
        %a{href: "/users/sign_up"} Sign up now
